[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "cmake/clangformat-cmake"]
	path = cmake/clangformat-cmake
	url = https://github.com/zemasoft/clangformat-cmake.git
